<div class="homepageContainer ">
    <div class="homepageContainerImageFrame itemCardPadding">
        <div class="homepageContainerImageOverlay itemCardPadding">
            <div class="x">
                <a class="  homepageContainerImageOverlayTitleText1 ">FUJI(CHINA)</a>
                <a class="  homepageContainerImageOverlayTitleText2 ">
                    DECORATION & ENGINEERING CO LTD
                </a>
                <a class="  homepageContainerImageOverlayTitleText3 ">
                    富 士 ( 中 國 ) 裝 飾 工 程 有 限 公 司
                </a>
            </div>
        </div>
        <img class="homepageContainerImage"
            src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2F0676E562-6134-4153-8779-98AD1BD0C57F.jpeg?alt=media&token=fe7f248a-5052-42dd-a4f2-bf4e755ee102">
    </div>
    <div class="">
        <div class="itemCardMargin flexCenter " [style]="'justify-content: flex-start;'">
            <span class=" material-symbols-outlined" [style]="'font-size:var(--title)'">
                language
            </span>
            <button class=" itemCardValue colorOn" *ngIf="this.stateService.language != 'zh'"
                (click)="changeLanguages('zh')">
                <b>
                    中文
                </b>
            </button>
            <button class=" itemCardValue colorOn" *ngIf="this.stateService.language != 'eg'"
                (click)="changeLanguages( 'eg')">
                <b>
                    English
                </b>
            </button>
        </div>
    </div>
    <!-- homepageOurteam -->
    <div class="homepageOurteam">
        <div class="homepageOurteamContent">
            <div class="itemCardPadding">
                <a class=" itemCardValue  ">{{homePageArray[0]}} </a>
                <br>
                <br>
                <a class=" itemCardValue  ">{{homePageArray[1]}} </a>
            </div>
            <div class="itemCardPadding ">
                <img class="homepageOurteamimage "
                    src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2FourTeam2.jpg?alt=media&token=911c409e-1fee-4693-8c70-1d624b4ea261">
            </div>
        </div>
    </div>

    <!-- ourProject -->
    <div class="ourProject ">
        <div class="homepageItemHeader flexCenter">
        </div>
        <div class="homepageOurteamContent">
            <img class="homepageOurteamimage"
                src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2Four%20project.jpg?alt=media&token=5c1c81df-62fe-44ef-9939-602d80b5a577">
            <div class="itemCardPadding">
                <a class=" itemCardValue  ">{{homePageArray[2]}} </a>
                <br>
                <br>
                <a class=" itemCardValue  ">{{homePageArray[3]}} </a>
                <br>
                <br>
                <a class=" itemCardValue  ">{{homePageArray[4]}} </a>

            </div>
        </div>

        <div class="ourProjectImage"></div>
        <div class="ourProjectText"></div>
    </div>
    <!-- contact us -->
    <div class="contactUs ">
        <div class="  " [style]="'background-color: #FFFFFF'">
            <div class=" flexList itemCardMargin ">
            </div>
        </div>
        <div class="contactsUsItemList  itemCardPadding">
            <div *ngFor="let x of contactsUsItemList">
                <div class="flexList item">
                    <b class="itemCardContent" *ngIf="this.stateService.language == 'eg'">
                        {{x.egName}}
                    </b>
                    <b class="itemCardContent" *ngIf="this.stateService.language == 'zh'">
                        {{x.zhName}}
                    </b>
                    <p class="itemCardValue">{{x.chineseAddress}} </p>
                    <p class="itemCardValue">{{x.englishAddress}} </p>
                    <a class="itemCardValue">{{x.zhTelephone}}</a>
                    <a class="itemCardValue">{{x.egTelephone}}</a>
                    <a class="itemCardValue">{{x.email}}</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .homepageContainerImageOverlay {
        /* background-color: rgba(0, 84, 4, 0.3); */
        text-shadow: -1px 1px 0 #000,
            1px 1px 0 #000,
            1px -1px 0 #000,
            -1px -1px 0 #000;
        max-height: 60%;
        min-height: 40%;
        min-width: 60%;
        max-width: 80%;
        bottom: 10%;
        left: 5%;
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .homepageContainer {
        display: flex;
        flex-direction: column;
    }

    .homepageContainerImage {
        width: 100%;
    }

    .homepageOurteamContent {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
    }

    .homepageOurteamHeaderIcon {
        width: 10vmin;
    }

    .homepageOurteamHeaderTitle {
        color: #4d8f63;
        font-size: x-large;
    }

    .homepageOurteamimage {
        width: 100%;
    }

    .homepageContainerImageFrame {
        position: relative;
    }

    .homepageItemHeader {}

    .homepageContainerImageOverlayTitle {
        opacity: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: relative;
    }

    .x {
        height: 100%;
        display: grid;
        grid-template-rows: 30% 20% 50%;
        align-items: center;
        justify-items: center;
    }

    .homepageContainerImageOverlayTitleText1 {
        font-weight: 400;
        font-size: var(--title);
        margin: 1%;
        color: white;
    }

    .homepageContainerImageOverlayTitleText2 {
        font-weight: 400;
        font-size: var(--keyValue);
        color: white;
    }

    .homepageContainerImageOverlayTitleText3 {
        font-weight: 400;
        font-size: var(--context);
        color: white;
    }



    .ourClientContent {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
    }

    .ourClientImgFrame {
        width: 100%;
        position: relative;
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .ourClientImg {
        max-width: 100%;
    }

    .homepageItemHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 10vh;
        padding: 2%;
    }

    .contactsUsItemList {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        justify-content: space-evenly;
    }

    .contactsUsItemList .item {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        align-items: baseline;
        padding: 2%;
    }

    .contactsUsItemImgFrame {
        position: relative;
        height: 10vmin;

    }

    .contactsUsItemImg {
        max-width: 100%;
        height: 100%;
    }


    .ourClientFooter {
        height: 4ch;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #ededed;
    }

    .ourClientFooterDot {
        width: 1ch;
        height: 1ch;
        margin: 0.5ch;
        border-radius: 1000px;
        background-color: var(--main);
    }

    .ourClientFooterDotOff {
        width: 1ch;
        height: 1ch;
        margin: 0.5ch;
        border-radius: 1000px;
        background-color: var(--sub);
    }

    .ourClient {
        background-color: #e7e6e6;
    }

    .ourClientContent {
        background-color: var(--white);
        border-radius: 2.5vmin;
    }

    .contactsUsItemText {
        color: var(--main);
        font-size: 1ch;
    }
</style>