<div class="homepageContainer ">
    <div class="homepageContainerImageFrame itemCardPadding">
        <img class="homepageContainerImageOverlay"
            src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2FhomepageTitleImg.png?alt=media&token=3a4a4fbb-5e37-4d87-b603-3ccbdd55928e">
        <!-- <div class="homepageContainerImageOverlay itemCardPadding">
            <img src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/fuji%20logo%20ver2%203%20(green).png?alt=media&token=13fa8018-5715-4f23-b8c9-4ffd5fd4a181">
            <div class="x flexList">
                <a class="  homepageContainerImageOverlayTitleText1 ">FUJI(CHINA)</a>
                <a class="  homepageContainerImageOverlayTitleText2 ">
                    DECORATION & ENGINEERING CO LTD
                </a>
                <a class="  homepageContainerImageOverlayTitleText3 ">
                    富 士 ( 中 國 ) 裝 飾 工 程 有 限 公 司
                </a>
            </div>
        </div> -->
        <img class="homepageContainerImage"
            src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2FPHOTO-2024-02-03-10-59-39.png?alt=media&token=fdd8be7b-1192-4a11-8561-c7102312240f">
    </div>
    <!-- <div class="">
        <div class="itemCardMargin flexCenter " [style]="'justify-content: flex-start;'">
            <span class=" material-symbols-outlined" [style]="'font-size:var(--title)'">
                language
            </span>
            <button class=" itemCardValue colorOn" *ngIf="this.stateService.language != 'zh'"
                (click)="changeLanguages('zh')">
                <b>
                    中文
                </b>
            </button>
            <button class=" itemCardValue colorOn" *ngIf="this.stateService.language != 'eg'"
                (click)="changeLanguages( 'eg')">
                <b>
                    English
                </b>
            </button>
        </div>
    </div> -->
    <!-- homepageOurteam -->
    <div class="homepageOurteam">
        <div class="homepageOurteamContent">
            <div class="itemCardPadding">
                <a class=" itemCardValue  ">{{homePageArray[0]}} </a>
                <br>
                <br>
                <a class=" itemCardValue  ">{{homePageArray[1]}} </a>
            </div>
            <div class="itemCardPadding ">
                <img class="homepageOurteamimage "
                    src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2FourTeam2.jpg?alt=media&token=911c409e-1fee-4693-8c70-1d624b4ea261">
            </div>
        </div>
    </div>

    <!-- ourProject -->
    <div class="ourProject ">
        <div class="homepageItemHeader flexCenter">
        </div>
        <div class="homepageOurteamContent">
            <img class="homepageOurteamimage"
                src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2Four%20project.jpg?alt=media&token=5c1c81df-62fe-44ef-9939-602d80b5a577">
            <div class="itemCardPadding">
                <a class=" itemCardValue  ">{{homePageArray[2]}} </a>
                <br>
                <br>
                <a class=" itemCardValue  ">{{homePageArray[3]}} </a>
                <br>
                <br>
                <a class=" itemCardValue  ">{{homePageArray[4]}} </a>

            </div>
        </div>

        <div class="ourProjectImage"></div>
        <div class="ourProjectText"></div>
    </div>

    <!-- contact us -->
    <div class="contactUs ">
        <div class="contactsUsItemList  itemCardPadding" [style]="'align-items: first baseline;'">
            <div *ngFor="let x of contactsUsItemList">
                <div class="item itemCardMargin">
                    <b class="itemCardContent" >
                        {{x.egName}}
                    </b>
                    <a class="itemCardValue"> {{x.englishAddress}} </a>
                    <a class="itemCardValue"> {{x.chineseAddress}} </a>
                    <a class="itemCardValue"> {{x.zhTelephone}} </a>
                    <a class="itemCardValue"> {{x.email}} </a>
                    <!-- <a class="itemCardValue"> {{x.egTelephone}}</a> -->
                </div>
            </div>
        </div>
    </div>

</div>