.carousel {
    scroll-snap-type: x mandatory;

    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    cursor: grab;
    user-select: none;
    scroll-snap-type: x proximity;
    scroll-behavior: smooth;
}

.carousel .item {
    scroll-snap-align: start;
    inline-size: min(100% -4rem, 70rem);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;

    min-height: 20vh;
}

.carouselImage {
    /* margin: 2%; */
    max-width: 98%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    pointer-events: none;
}

.tItem {
    /* padding: 5%; */
}

.tItemContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-y: auto;
    gap: var(--title);
    /* margin: 5%; */
}

.ourClientFooterDot {
    width: 1ch;
    height: 1ch;
    margin: 0.5ch;
    border-radius: 1000px;
    background-color: var(--main);
}

.ourClientFooterDotOff {
    width: 1ch;
    height: 1ch;
    margin: 0.5ch;
    border-radius: 1000px;
    background-color: var(--sub);
}

#scrollableDiv {
    height: 100px;
    overflow: scroll;
    border: 1px solid #ccc;
}