<div class="" (mouseup)="up($event,scrollableDiv2)" (mousedown)="down($event,scrollableDiv2)">
    <div class="carousel tItemContainer" #scrollableDiv2 id="scrollableDiv2" (scroll)="getScrollPosition2()">
        <div class="item" *ngFor="let x of pp">
            <img class="carouselImage" loading="lazy"
                src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/fuji%20logo%20ver2%203%20(green).png?alt=media&token=13fa8018-5715-4f23-b8c9-4ffd5fd4a181">
            <a class="itemCardContent">{{x.data.name}}</a>
            <!-- <img class="carouselImage" loading="lazy" [style]="'border-radius:2vmin;'"
                src="{{x.data.imageArray[0]}}"> -->
            <img class="carouselImage" loading="lazy"
                src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/yungFolder%2F0material%2Fshop.png?alt=media&token=22c71304-1f7f-41e2-849d-e2000809f247&_gl=1*1koha2q*_ga*MTc4MDIzNzU1Ni4xNjk1NjIwMTg0*_ga_CW55HF8NVT*MTY5OTI0MTUwMi42Ny4xLjE2OTkyNDE1MDguNTQuMC4w">
        </div>
    </div>
    <div class="flexAround">
        <div *ngFor="let x of li;let i = index">
            <div *ngIf="i==scrollposition" class="ourClientFooterDot"></div>
            <div *ngIf="i!=scrollposition" class="ourClientFooterDotOff"></div>
        </div>
    </div>
</div>
