<div class="yungCertGallaryContainer2 itemCardPadding ">
    <b class="itemCardContent">
        Certificate
    </b>
    <div class="yungCertGallaryContainer">
        <div class="yungCertGallaryImageFrame">
            <button class=" yungCertGallaryButton" (click)="switchPage(-1)">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </button>
            <img *ngIf="pageItemArray[pageindex].data !== null " class="yungCertGallaryImage" src="{{pageItemArray[pageindex]}}">
            <!-- <img *ngIf="pageItemArray[pageindex].data !== null " class="yungCertGallaryImage" src="{{pageItemArray[pageindex].data.image}}"> -->
            <!-- src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/homePage1.png?alt=media&token=197004a9-edb1-42b5-a57c-8a16b50e98d4"> -->

            <button class=" yungCertGallaryButton" (click)="switchPage(1)">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>
    </div>
</div>
