.yungCertGallaryContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: min(60vh, 100ch);
    justify-content: center;
    align-items: center;
}

.yungCertGallaryContainer2 {
    background-color: rgb(188, 214, 255);

}

.yungCertGallaryImage {
    width: 100%;
}

.yungCertGallaryImageFrame {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    margin: 1%;
}

.yungCertGallaryButton {
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: black;
    color: white;
    font-size: var(--title);
}

.yungCertGallaryButton:hover {
    background-color: white;
    color: black;
}

.yungCertGallaryButton:active {
    background-color: red;
    color: black;
}