<div class="yungCertGallaryContainer2 itemCardPadding ">
    <a class="itemCardContent">
        certificate
    </a>
    <div class="yungCertGallaryContainer">
        <div class="yungCertGallaryImageFrame">
            <button class=" yungCertGallaryButton">
                <span class="material-symbols-outlined">
                    arrow_back_ios
                </span>
            </button>
            <img class="yungCertGallaryImage"
                src="https://firebasestorage.googleapis.com/v0/b/camera-af868.appspot.com/o/homePage1.png?alt=media&token=197004a9-edb1-42b5-a57c-8a16b50e98d4">

            <button class=" yungCertGallaryButton">
                <span class="material-symbols-outlined">
                    arrow_forward_ios
                </span>
            </button>
        </div>
    </div>
    <div>
        {{pageindex}}
    </div>
</div>