/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    --blue: #389cff;
    --deepBlue: #3f51b5;
    --red: #fc4753;
    --yellow: #f7bc4e;
    --green: #88b25b;
    --white: #ffffff;
    --lightBlue: #8da9c4;
    --lightGray: #cccccc;
    --dark: #4d4d4d;

    --yung:#005E20;

    --seaSick: #e9e8e2;
    --sickSea: var(--dark);

    --main: var(--yung);
    --mainText: var(--seaSick);
    --sub: #bebebe;
    --subText: var(--dark);

    --bg: var(--white);
    --histarri: var(--yellow);

    --title: 24px;
    --context: 15px;
    --keyValue: 12px;

    --screenS: 700px;
    --screenM: 1200px;
    --screenL: 2000px;

    --imgS: 12px;
    --imgM: 120px;
    --imgL: 240px;

    --boxShadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    --boxShadow2: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    --boxShadow3: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}